<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 950px;">
        <h1 class="align">Desafios curso Angular</h1>
        <p>Pagina con los desafios realizados en el curso de Angular de Coderhouse, seleccione la opción en el menú lateral izquierdo.</p>
        <br>
        <h5>Desafios</h5>
        <ol>
            <li>Estructura de componentes angular</li>
            <li>Listas y Directivas en componentes Angular</li>
            <li>Formularios en angular</li>
            <li>Programación reactiva</li>
        </ol>
    </article>
</div>